<div class="container">
    khóa học của tôi
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time-Create</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each course}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" type="button" class="btn btn-success">update</a>
                        <a href="" type="button" class="btn btn-danger">delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>