<div class="container">
  <h1> khóa học của tôi</h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Time-Create</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each course}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" type="button" class="btn btn-success">Edit</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              data-id="{{this._id}}">
              delete
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


{{!-- delete --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa Khoa Hoc?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ban Muon Xoa Khoa Hoc?!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NO</button>
        <button id="delete-course" type="button" class="btn btn-success">YES</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="post" action=""></form>
<script>

  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('delete-course');
    var exampleModal = document.getElementById('exampleModal')

    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      courseId = button.getAttribute('data-id')

    })

    btnDeleteCourse.onclick = function (event) {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
      deleteForm.submit()
    }

  })
</script>