<div>
  <div class="group">
  {{#each courses}}
   <div class="card">
     <div class="image">
      <a href="courses/{{this.slug}}">
      <img src="{{this.image}}" alt="{{this.name}}"> 
      </a>
    </div>
    <div class="content">
       <a href="courses/{{this.slug}}">
       <h4 class="title">{{this.name}}</h4>
      </a>
      <p class="context">{{this.description}}</p>
    </div>
   </div>
  {{/each}}
  </div>
</div>

